<div class="grid grid-cols-3 gap-3">
    <div class="card bg-white opacity-80 shadow-xl">
        <div class="card-body text-black font-bold">
            <div class="flex justify-around">
                <div class="flex grap-1">
                    <h2 class="card-title">Utilisateur</h2>
                </div>
            </div>
            <p class="text-center text-3xl">+27</p>
        </div>
    </div>
    <div class="card bg-white opacity-80 shadow-xl">
        <div class="card-body text-black font-bold">
            <div class="flex justify-around">
                <div class="flex grap-1">
                    <h2 class="card-title">Places</h2>
                </div>
            </div>
            <p class="text-center text-3xl">+90</p>
        </div>
    </div>
    <div class="card bg-white opacity-80 shadow-xl">
        <div class="card-body text-black font-bold">
            <div class="flex justify-around">
                <div class="flex grap-1">
                    <h2 class="card-title">clients</h2>
                </div>
            </div>
            <p class="text-center text-3xl">+294</p>
        </div>
    </div>
</div>

<div class="flex justify-between gap-2 m-2 ">
    <div class="w-full bg-orange-500">
    </div>
    <div class="w- 96 flex flex-col gap-2">
        <div class="card bg-white opacity-80 shadow-xl">
            <div class="card-body text-black font-bold">
                <div class="flex justify-around">
                    <div class="flex grap-1">
                        <h2 class="card-title">Caisse</h2>
                    </div>
                </div>
                <p class="text-center text-3xl">+27</p>
            </div>
        </div>
        <div class="card bg-white opacity-80 shadow-xl">
            <div class="card-body text-black font-bold">
                <div class="flex justify-around">
                    <div class="flex grap-1">
                        <h2 class="card-title">Voiture</h2>
                    </div>
                </div>
                <p class="text-center text-3xl">+27</p>
            </div>
        </div>
        <div class="card bg-white opacity-80 shadow-xl">
            <div class="card-body text-black font-bold">
                <div class="flex justify-around">
                    <div class="flex grap-1">
                        <h2 class="card-title">Moto</h2>
                    </div>
                </div>
                <p class="text-center text-3xl">+27</p>
            </div>
        </div>
    </div>
</div> 